/* base styles */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  box-sizing: inherit;
  font-size: 1.15rem;
  overflow: hidden;
}

ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

li {
  padding-right: 2rem;
}

li:nth-last-of-type(n + 2) {
  list-style: none;
}

li:last-of-type::marker {
  color: red;
}

[href^="#"] {
  text-decoration: none;
}

[src$="svg"] {
  display: block;
  height: auto;
}

[id="wrapper"] {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-areas:
    "logo logo logo navi navi navi"
    "infoContainer infoContainer infoContainer imageContainer imageContainer imageContainer"
    "footer footer footer footer footer footer";
  grid-template-rows: 100px auto 40px;
  grid-template-columns: 1fr 1fr;
}

.logo {
  grid-area: logo;
  align-self: center;
  justify-self: center;
}

nav {
  grid-area: navi;
  justify-self: stretch;
  align-self: center;
}

section:first-of-type {
  grid-area: infoContainer;
}

section:last-of-type {
  grid-area: imageContainer;
}

section:last-of-type img {
  max-width: 100%;
  translate: 16.5rem;
}

/* footer */
footer {
  grid-area: footer;
  background-color: hsl(231, 7%, 65%);
}
